@media (max-width: 1362px) {
    .noticia--grande img{
        max-width: 850px;
    }
    .header__bot nav ul a li{
        max-width: 260px;
    }
}
@media (max-width: 1244px) {
    .images__top{
        flex-flow: column wrap;
    }
    .header__bot nav ul a li{
        width: 200px;
    }
    .noticia img{
        max-width: 470px;
    }
    .noticia--grande img{
        max-width: 950px;
    }
  }
  